<% unless @order.status == "Delivered" %> 
  $(".table tbody").append('<tr><td><%= @order.order_number %></td><td><%= @order.status %><td><%= @order.vendor.name %></td> </td></td><td> <%= @order.tracking_number %></td><td><%= @order.customer.name %></td></tr>')
    <% if @order.status == "Very late" %>
      $(".table tbody").children().last().addClass("very-late")
    <% elsif @order.status == "Not normal" %>
      $(".table tbody").children().last().addClass("not-normal")
    <% end %>
<%end%>

 $(".stats h4.D").text("Delivered:"+ "<%= Order.where(status: 'Delivered').count %>")
 $(".stats h4.N").text("Normal:"+ "<%= Order.where(status: 'Normal').count %>")
 $(".stats h4.N-n").text("Not normal:"+ "<%= Order.where(status: 'Not normal').count %>")            
 $(".stats h4.V-l").text("Very late:"+ "<%= Order.where(status: 'Very late').count %>")
          

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'usa_map'}}, function(){
markers = handler.addMarkers(<%=raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});